@charset "utf-8";
.tit_1{
	padding: 10px 0;
	font-size: 20px;
	color: #000;
}
.tit_1 span{
	color: #e53b46;
	margin-left: 20px;
	font-size: 14px;
}
.tit_2{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding-left: 25px;
	margin-bottom: 15px;
	border-bottom: 0;
	background-color: #f0f0f0;
}
.tit_2 span{
	float: left;
	text-align: center;
}
.tit_2 .w1 .all{
	margin-right: 10px;
	font-size: 14px;
	outline: none;
	border: none;
	background: none;
}
.tit_2 .w2{
	width: 360px;
}
.tit_2 strong{
	float: left;
	text-align: center;
	width: 152px;
}
.imfor_box{
	border: 1px solid #a7d5f4;
	margin-bottom: 20px;
}
.imfor_box .tit_3{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding-left: 25px;
	background: #f2f9fe;
	color: #5b5b5b;
	border-bottom: 1px solid #a7d5f4;
}
.imfor_box .tit_3 input{
	display: inline-block;
	vertical-align: middle;
	margin: -4px 5px 0 0;
	margin-right: 10px;
	margin-top: 0;
}
.imfor_box .tit_3 span{
	display: inline-block;
	width: 36px;
	margin-left: 10px;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	font-weight: 700;
	vertical-align: middle;
	background-color: red;
}
.imfor_box .checked_bg{
	background-color: #fcf5e6;
}
.goods_line .goods_item{
	border-bottom: 1px solid #a7d5f4;
	padding: 30px 0 10px 40px;
}
.goods_line .goods_item .check{
	float: left;
	margin-top: 30px;
}
.goods_line .goods_item .goods{
	float: left;
	padding-left: 10px;
	width: 400px;
	text-align: center;
	font-size: 14px;
	color: #5b5b5b;
}
.goods dt{
	float: left;
	height: 80px;
	width: 80px;
	border: 1px solid #d1d1d1;
}
.goods dt img{
	max-width: 100%;
	max-height: 100%;
}
.goods dl dd{
	float: left;
	text-align: left;
	margin: 20px 0 0 20px;
}
.goods_line .goods_item .goods dl dd span{
	display: block;
	color: #4095d4;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 240px;
}
.goods_line .goods_item .goods dl dd strong{
	display: block;
}
.pices{
	width: 146px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
	float: left;
	line-height: 60px;
}
.num{
	text-align: center;
	border: 1px solid #e9e9e9;
	height: 25px;
	width: 92px;
	background-color: #fff;
	float: left;
	margin: 20px 23px;
	font-size: 14px;
	 color: #5b5b5b;
}
.num span{
	cursor: pointer;
	width: 25px;
	height: 25px;
	background-color: #f9f9f9;
	display: block;
	float: left;
	font-size: 16px;
}
.num input{
	border: none;
	height: 25px;
	width: 40px;
	float: left;
	text-align: center;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}
.totle{
	width: 146px;
	color: #e53b46;
	text-align: center;
	float: left;
	cursor: pointer;
	font-size: 14px;
	line-height: 60px;
}
.available{
	width: 146px;
	color: #5b5b5b;
	font-size: 12px;
	text-align: center;
	float: left;
	cursor: pointer;
	line-height: 60px;
}
.del{
	display: block;
	width: 146px;
	color: #4095d4;
	float: left;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	line-height: 60px;
}
.foot{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding-left: 25px;
	padding: 10px 20px;
	background-color: #f7f7f7;
}
.foot .cart_btn{
	float: right;
	width: 130px;
	height: 40px;
	line-height: 40px;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	background-color: #e33b3e;
	text-align: center;
	cursor: pointer;
}
.foot .tol{
	float: right;
	line-height: 40px;
	font-size: 14px;
	height: 40px;
}
.foot .tol span{
	margin-right: 40px;
}
.foot .tol b,.foot .tol i{
	color: #e53b46;
}
.del:hover{
	color: red;
}