@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{
	margin: 0;
	padding: 0;
}
/*万能清除法*/
.clear_fix:after{
	content: '.';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
/* 左浮动 */
.float_l{
	float: left;
}
/* 右浮动 */
.float_r{
	float: right;
}
body{
	font-size: 16px;
	font-family: "微软雅黑";
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	font-size: 16px;
}
em,i{
	font-style: normal;
}
b,strong{
	font-weight: normal;
}
img{
	display: block;
	border: 0;
}
ul,li,ol{
	list-style: none;
}
a,u{
	text-decoration: none;
}
input{
	outline: none;
}
